{% extends 'layout.html' %}

{% block body %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Health App</h1>
      <p class="lead">
        Leveraging Istio to enforce rules-based authorization / entitlements between micro-services in a health
          application.

        <ul>
          <li>4 Python micro-services.</li>
          <li>1 MongoDB micro-service.</li>
          <li>1 Go micro-service to extend Istio's current functionality and allow me to add my own rules.</li>
        </ul>

        Python Services are written using Flask framework.

        Services are wrapped in Docker, and deployed on Kubernetes.

        Tokens are issued via one of 3 Auth0 API's I have created depending on the role of the user that logs in and is then sent to one of my Flask back-ends where it is sent to the front-end where it is stored and propagated to the other services to authenticate.

        Deployed on Google Kubernetes Engine (GKE).
        <br>
        <br>
        I have also extended Istio’s current functionality and implemented some of my own rules. As Istio is written
          in GO, I had to write some services in GO and then deploy them on Kubernetes. An example of one rule that I
          wrote would be to enforce that Doctors can only access patient records during the times of 9-5.

        This app is designed to be run in Kubernetes, but you could alternatively also run using Docker compose, however, you will
        lose the functionality of Kubernetes and Istio.
      </p>
    </div>
{% endblock %}